{% extends 'base.html.twig' %}

{% block title %}Chantier index{% endblock %}

{% block body %}
    <a href="{{ path('utilisateur_index') }}">Page utilisateur</a>
    <a href="{{ path('pointages_index') }}">Page pointages</a>
    <h1>Chantier index</h1>

    <table class="table" style="width: 50%;">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Addresse</th>
                <th>Date_debut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chantier in chantiers %}
            <tr>
                <td>{{ chantier.nom }}</td>
                <td>{{ chantier.addresse }}</td>
                <td>{{ chantier.dateDebut ? chantier.dateDebut|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('chantier_show', {'id': chantier.id}) }}">show</a>
                    <a href="{{ path('chantier_edit', {'id': chantier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('chantier_new') }}">Create new</a>
{% endblock %}
