{% extends 'base.html.twig' %}

{% block title %}Chantier index{% endblock %}

{% block body %}
    <a href="{{ path('utilisateur_index') }}">Page utilisateur</a>
    <a href="{{ path('pointages_index') }}">Page pointages</a>
    <h1>Chantier</h1>

    <table class="table" style="width: 60%;">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Addresse</th>
                <th>Date_debut</th>
                <th>Actions</th>
                <th>Nombre de personne</th>
                <th>Nombre d'heures cumulés</th>
            </tr>
        </thead>
        <tbody style="text-align: center; vertical-align: middle;">
        {% set nb_de_utilisateur_par_chantier = [] %}
        {% for chantier in chantiers %}
            <tr>
                <td>{{ chantier.nom }}</td>
                <td>{{ chantier.addresse }}</td>
                <td>{{ chantier.dateDebut ? chantier.dateDebut|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('chantier_show', {'id': chantier.id}) }}">show</a>
                    <a href="{{ path('chantier_edit', {'id': chantier.id}) }}">edit</a>
                    {{ include('chantier/_delete_form.html.twig') }}
                </td>
                <td>
                    {{ nb_user[chantier.nom]|length }}
                </td>
                <td>
                    {{ total_duree[chantier.nom] }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('chantier_new') }}">Create new</a>
{% endblock %}
