{{ form_start(form) }}
{% set formErrors = form.vars.errors.form.getErrors(true) %}
{% if formErrors|length %}
    <ul>
        {% for error in formErrors %}
            <li style="color: red">{{ error.message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
