{% extends 'base.html.twig' %}

{% block title %}Utilisateur index{% endblock %}

{% block body %}
    <a href="{{ path('chantier_index') }}">Page chantier</a>
    <a href="{{ path('pointages_index') }}">Page pointage</a>
    <h2>Créer un nouvel utilisateur</h2>
    {{ include('utilisateur/_form.html.twig') }}
    <h1>Utilisateur</h1>

    <table class="table" style="width: 50%; text-align: center; ">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Matricule</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.matricule }}</td>
                <td colspan="3">
                    <a href="{{ path('utilisateur_show', {'id': utilisateur.id}) }}">show</a>
                    <a href="{{ path('utilisateur_edit', {'id': utilisateur.id}) }}">edit</a>
                    {{ include('utilisateur/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
